1. Use Node.js and Express.js to create a RESTful API.
2. Use Handlebars.js as the template engine.
3. Use MySQL and the Sequelize ORM for the database.
4. Have both GET and POST routes for retrieving and adding new data.
5. Use at least one new library, package, or technology that we haven't discussed.
6. Have a folder structure that meets the MVC paradigm.
7. Include authentication (express-session and cookies).
8. Protect API keys and sensitive information with environment variables.
9. Be deployed using Heroku (with data).
10. Have a polished UI.
11. Be responsive.
12. Be interactive (i.e., accept and respond to user input).
13. Meet good-quality coding standards (file structure, naming conventions, follows best practices for class/id naming conventions, indentation, quality comments, etc).
14. Have a professional README (with unique name, description, technologies used, screenshots, and link to deployed application).