<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Network Fantasy Trading</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Network Fantasy Trading</h1>    
  </header>

    <nav>
      <ul class = "navbar">
        <li><a href="#">Home</a></li>
        <li><a href="#">Owned Items</a></li>
        <li><a href="#">Marketplace</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>

  <main>
  {{{body}}}
  </main>
</body>




  <footer>
    <p>&copy; 2023 Network Fantasy Trading. All rights reserved.</p>
    <p>Made with <span class="heart">&hearts;</span> by Alison, Matthew, Michelle and Paul</p>
  </footer>
</html>