<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Network Fantasy Trading</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>

<body>
  <header>
    <h1>Network Fantasy Trading</h1>
    
  </header>
  <main>
  {{{body}}}
  </main>
</body>




  <footer>
    <p>&copy; 2023 Network Fantasy Trading. All rights reserved.</p>
    <p>Made with <span class="heart">&hearts;</span> by Alison, Matthew, Michelle and Paul</p>
  </footer>
</html>