<div class="div-container">
  <br>
  <h3 class="script-homepage"> Welcome to the Fantasy Trading Network!</h3>
  <p class="script-homepage-p">You ever say to yourself, “I really like buying things but I have no money.”? Well, you’re in luck, we’re here to
  virtually deliver to you an app that lets you buy virtual things with virtual money so you can own it in our virtual
  database!</p>

  <section class="featured-items">
    <h2>Coming Soon!</h2>
    <div class="item-container">
      <!-- Display a grid of featured items -->
      <div class="item">
        <img src="/images/trading.jpg" alt="Item 1">
        <h3>Virtual Trading</h3>
        <p>Experience the thrill of trading stocks in a virtual environment with no real money involved.</p>
      </div>

      <div class="item">
        <img src="/images/compete.jpg" alt="Item 2">
        <h3>Compete with Friends</h3>
        <p>Challenge your friends and compete to see who can achieve the highest portfolio value.
        </p>
      </div>
      <!-- Add more items as needed -->
      <div class="item">
        <img src="/images/leaderboard.jpg" alt="Item 1">
        <h3>Leaderboard</h3>
        <p>Track your progress on the leaderboard and strive to reach the top spot.
        </p>
      </div>
    </div>
  </section>


</div>
