<div>
  <h5>Join Network Fantasy Trading!</h5>

  <form>
    <p>
    <label for="username">Create your Username: </label>
    <input type= "text" name="username" id="username" placeholder="enter your username here"> 
    </p>
    <p>
      <label for="password">Create your Password: </label>
      <input type="text" name="password" id="password" placeholder="enter your password here">
    </p>
    <button id="registerUser">Sign Me Up!</button>
  </form>

  <hr>
  <hr>

  <h5>Login</h5>
  <form>
    <p>
      <label for="1username">Username: </label>
      <input type="text" name="1username" id="1username" placeholder="User Name">
    </p>
    <p>
      <label for="1password">Create your Password: </label>
      <input type="text" name="password" id="1password" placeholder="Password">
    </p>
    <button id="loginUser">Log In</button>
  </form>
</div>