<div class="div-container">
  <br>
  <h3 class="script-homepage"> Discover a world of NFT's</h3>
  <p class="script-homepage-p">Explore our vast collection of fantasy-themed products and immerse yourself in a realm of magic, mythical
  items, and epic adventures.</p>

      <section class="featured-items">
        <h2>Items on SALE!</h2>
        <div class="item-container">
          <!-- Display a grid of featured items -->
          <div class="item">
            <img src="/images/red-blazer.png" alt="Item 1">
            <h3>Red Blazer</h3>
            <p>This sizzling piece of fashion will set you on fire with its vibrant red color and sleek design. It's not just a blazer,
            it's a statement that says, 'I'm here to turn heads and set trends!</p>
            <span class="price">Eldergold 1000</span>
          </div>

          <div class="item">
            <img src="/images/drink-hat.png" alt="Item 2">
            <h3>Drink Hat</h3>
            <p>Are you tired of holding your drinks like a mere mortal? Say goodbye to parched throats and hello to ultimate beverage
            liberation! This revolutionary hat not only provides stylish headwear but also doubles as a mobile hydration station.
            </p>
            <span class="price">Eldergold 10</span>
          </div>
          <!-- Add more items as needed -->
          <div class="item">
            <img src="/images/biker-gloves.png" alt="Item 1">
            <h3>Biker Gloves</h3>
            <p>Are you tired of having boring hands that lack the flair of true bike enthusiasts? Say goodbye to ordinary gloves and
            embrace the ultimate grip of these extraordinary mitts! The 'VelociGrip' Bike Gloves will transform your hands into
            precision machines
            </p>
            <span class="price">Eldergold 8</span>
          </div>
        </div>
      </section>

</div>