<div class="login-div-container">
  <br>
  <h2>Login</h2>
  <form>
    <p>
      <label for="1username">Username: </label>
      <input type="text" name="1username" id="1username" placeholder="Enter Username">
    </p>
    <p>
      <label for="1password">Password: </label>
      <input type="password" name="password" id="1password" placeholder="Enter Password">
    </p>
    <button id="loginUser" class ="shadow-underline">Log In</button>

    <a type="button" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="/js/login.js"></script>

