
  <h5>Login</h5>
  <form>
    <p>
      <label for="1username">Username: </label>
      <input type="text" name="1username" id="1username" placeholder="User Name">
    </p>
    <p>
      <label for="1password">Create your Password: </label>
      <input type="text" name="password" id="1password" placeholder="Password">
    </p>
    <button id="loginUser">Log In</button>

    <a type="button" href="/signup">Sign up instead</a>
  </form>
</div>