<div class="login-div-container">
  <br>
  <h2>Join Network Fantasy Trading!</h2>

  <form>
    <p>
      <label for="username">Create your Username: </label>
      <input type="text" name="username" id="username" placeholder="enter your username here">
    </p>
    <p>
      <label for="password">Create your Password: </label>
      <input type="password" name="password" id="password" placeholder="enter your password here">
    </p>
    <button id="registerUser" class ="shadow-underline">Sign Me Up!</button>
  </form>

  <hr>
  <hr>

<script src="/js/signup.js"></script>
  