<div>
  <h5>Join Network Fantasy Trading!</h5>

  <form>
    <p>
      <label for="username">Create your Username: </label>
      <input type="text" name="username" id="username" placeholder="enter your username here">
    </p>
    <p>
      <label for="password">Create your Password: </label>
      <input type="text" name="password" id="password" placeholder="enter your password here">
    </p>
    <button id="registerUser">Sign Me Up!</button>
  </form>

  <hr>
  <hr>